<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="Logs\internal-nlog.txt"
      autoReload="true"
      internalLogLevel="Info">
	<targets>
		<target name="console"
		        xsi:type="Console"
		        layout="${longdate} ${level} ${message}${exception:format=tostring}"/>
		<target xsi:type="File"
		        name="file"
		        fileName="Logs\log.txt"
		        archiveFileName="log.{#}.txt"
		        archiveNumbering="Date"
		        archiveEvery="Day"
		        archiveDateFormat="yyyyMMdd"
		        layout="${longdate}|${logger}|${level}|${message}${exception:format=tostring}"/>
	</targets>
	<rules>
		<logger name="*"
		        minlevel="Debug"
		        writeTo="File"/>
		<logger name="*"
		        minlevel="Debug"
		        writeTo="console">
			<filters>
				<when condition="contains('${logger}', 'isun.Implementations.ConsoleProvider')" action="Log" />
			</filters>
		</logger>
	</rules>
</nlog>
